# Project Wattpad

## Data Munging
This file processes the raw data that we get from the api to make it more useful for the analysis

In [14]:
import pandas as pd
import os

In [15]:
# read in data
df = pd.read_csv(os.path.join('Data', 'stories_merge.csv'))

### Removing unwanted rows

In [16]:
# remove rows without tags
df = df.loc[df['tags'] != '[]']

In [17]:
# remove NaN descriptions
df=df.loc[[len(str(x)) > 4 for x in df['description']]]

In [18]:
df.head()

,Unnamed: 0,Unnamed: 0_x,categories_x,commentCount_x,completed_x,copyright_x,cover_x,cover_timestamp_x,createDate_x,deleted_x,...,parts,rating,readCount,tags,title,url,user.avatar,user.fullname,user.name,voteCount
0,0,0.0,"[19, 0]",5184.0,True,1.0,https://a.wattpad.com/cover/12050237-256-k9918...,2014-01-29T18:37:29Z,2014-01-29T16:24:42Z,False,...,"[{'id': 36978107, 'title': 'Prologue', 'url': ...",3.0,2688905.0,"['alpha', 'curse', 'luna', 'magic', 'power', '...",Hadar #Watty2014,https://www.wattpad.com/story/12050237-hadar-w...,https://a.wattpad.com/useravatar/RevyRogue.128...,Reviana,RevyRogue,106844.0
2,2,2.0,"[19, 0]",9695.0,True,0.0,https://a.wattpad.com/cover/42937930-256-k9921...,2015-06-22T23:55:46Z,2015-06-22T23:55:09Z,False,...,"[{'id': 141082265, 'title': 'lol!', 'url': 'ht...",0.0,1344254.0,"['dumb', 'funny', 'listen', 'nothing', 'okay']",❇awsome comebacks❇,https://www.wattpad.com/story/42937930-%E2%9D%...,https://a.wattpad.com/useravatar/kittygirl_121...,NaN,kittygirl_121604,37258.0
5,5,5.0,"[19, 0]",3383.0,False,0.0,https://a.wattpad.com/cover/7346101-256-k45569...,2013-08-02T22:01:32Z,2013-08-02T21:29:34Z,False,...,"[{'id': 22313394, 'title': 'Behind closed door...",3.0,738574.0,"['student', 'teacher']",Behind closed doors (teacher/student romance),https://www.wattpad.com/story/7346101-behind-c...,https://a.wattpad.com/useravatar/PissedImNotAM...,NaN,PissedImNotAMermaid,13675.0
6,6,6.0,"[19, 0]",4498.0,True,1.0,https://a.wattpad.com/cover/23303650-256-k3456...,2015-01-04T12:28:05Z,2014-09-14T10:33:07Z,False,...,"[{'id': 77721987, 'title': 'HIII', 'url': 'htt...",1.0,905294.0,"['easy', 'hacks', 'life', 'lige', 'like']",Life Hacks!!,https://www.wattpad.com/story/23303650-life-hacks,https://a.wattpad.com/useravatar/UglyNugget.12...,NaN,UglyNugget,21020.0
7,7,7.0,"[19, 0]",2790.0,True,0.0,https://a.wattpad.com/cover/8897341-256-k90366...,2014-10-21T22:01:08Z,2013-10-10T17:35:33Z,False,...,"[{'id': 27208138, 'title': 'Changed', 'url': '...",3.0,664610.0,"['brothers', 'drama', 'girl', 'high', 'near-de...",Changed,https://www.wattpad.com/story/8897341-changed,https://a.wattpad.com/useravatar/Sugar-Quills....,NaN,Sugar-Quills,13576.0

### Removing unwanted columns
We have some unwanted columns in the table so we will remove them and create a stripped down version of the data frame that we will work with for the analysis. 
The following columns are removed:
* Unnamed: 0
* copyright
* cover
* cover_timestamp
* firstPartId
* firstPublishedPart.createDate
* firstPublishedPart.id
* lastPublishedPart.createDate
* lastPublishedPart.id
* parts

In [19]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0_x', 'categories_x', 'commentCount_x',
       'completed_x', 'copyright_x', 'cover_x', 'cover_timestamp_x',
       'createDate_x', 'deleted_x', 'description_x', 'firstPartId_x',
       'firstPublishedPart.createDate_x', 'firstPublishedPart.id_x', 'id',
       'language.id_x', 'language.name_x', 'lastPublishedPart.createDate_x',
       'lastPublishedPart.id_x', 'length_x', 'mature_x', 'modifyDate_x',
       'numParts_x', 'parts_x', 'rating_x', 'readCount_x', 'tags_x', 'title_x',
       'url_x', 'user.avatar_x', 'user.fullname_x', 'user.name_x',
       'voteCount_x', 'Unnamed: 0_y', 'categories_y', 'commentCount_y',
       'completed_y', 'copyright_y', 'cover_y', 'cover_timestamp_y',
       'createDate_y', 'deleted_y', 'description_y', 'firstPartId_y',
       'firstPublishedPart.createDate_y', 'firstPublishedPart.id_y',
       'language.id_y', 'language.name_y', 'lastPublishedPart.createDate_y',
       'lastPublishedPart.id_y', 'length_y', 'mature_y', 'modifyDate_y',
       'numParts_y', 'parts_y', 'rating_y', 'readCount_y', 'tags_y', 'title_y',
       'url_y', 'user.avatar_y', 'user.fullname_y', 'user.name_y',
       'voteCount_y', 'Unnamed: 0.1', 'categories', 'commentCount',
       'completed', 'copyright', 'cover', 'cover_timestamp', 'createDate',
       'deleted', 'description', 'firstPartId',
       'firstPublishedPart.createDate', 'firstPublishedPart.id', 'language.id',
       'language.name', 'lastPublishedPart.createDate', 'lastPublishedPart.id',
       'length', 'mature', 'modifyDate', 'numParts', 'parts', 'rating',
       'readCount', 'tags', 'title', 'url', 'user.avatar', 'user.fullname',
       'user.name', 'voteCount'],
      dtype='object')

In [20]:
# remove the unwanted columns to minimize clutter
stripped_df = df[["categories","commentCount","completed",
                  "createDate","deleted","description","id", 
                  "language.id","language.name","length","mature",
                  "modifyDate","numParts","rating","readCount",
                  "tags","title","url","user.avatar","user.fullname",
                  "user.name","voteCount"]]

### Merging with the categories data
The categories in the stories list is listed as an id so we need to get the corresponding category names into this dataframe. We will also rename and reorder the columns to make more logical sense

In [21]:
categories_df = pd.read_csv('Data/categories.csv')
categories_df

    ID                NAME
0    4             Romance
1    5     Science Fiction
2    3             Fantasy
3    7               Humor
4   12          Paranormal
5    8  Mystery / Thriller
6    9              Horror
7   11           Adventure
8   23  Historical Fiction
9    1        Teen Fiction
10   6          Fanfiction
11   2              Poetry
12  17         Short Story
13  21     General Fiction
14  24            ChickLit
15  14              Action
16  18             Vampire
17  22            Werewolf
18  13           Spiritual
19  16         Non-Fiction
20  10            Classics
21  19              Random

In [22]:
# Add a new column to put in the corresponding category names
stripped_df["categoryName"] = stripped_df["categories"]
stripped_df["categoryName"].unique()

/Users/acanois/anaconda2/envs/ds3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

array([ 19.,   3.,   1.,   6.,   4.])

In [23]:
# Function to get the category name from the categories_df given the category id
def get_category(x):
    name = categories_df.loc[categories_df["ID"]==int(x),"NAME"]
    return name.iloc[0]

# Replace the id with name in the categoryName column
stripped_df["categoryName"] = stripped_df["categoryName"].apply(get_category)
stripped_df["categoryName"].unique()

/Users/acanois/anaconda2/envs/ds3/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

array(['Random', 'Fantasy', 'Teen Fiction', 'Fanfiction', 'Romance'], dtype=object)

In [24]:
# rename some columns to keep the column name format consistent
stripped_df = stripped_df.rename(columns={"categories":"categoryId",
                            "language.id": "languageId",
                            "language.name": "languageName",
                            "user.avatar": "userAvatar",
                            "user.fullname":"userFullname",
                            "user.name":"userName"})

# reorder the columns
stripped_df = stripped_df[["id","title","description","url","createDate",
                          "modifyDate","completed","numParts","deleted","length",
                          "categoryId","categoryName","languageId","languageName","mature","rating",
                          "tags","commentCount","readCount","voteCount","userAvatar","userFullname","userName"]]
stripped_df.head()

,id,title,description,url,createDate,modifyDate,completed,numParts,deleted,length,...,languageName,mature,rating,tags,commentCount,readCount,voteCount,userAvatar,userFullname,userName
0,12050237,Hadar #Watty2014,"Fina is a Enforcers Daughter, she's been harsh...",https://www.wattpad.com/story/12050237-hadar-w...,2014-01-29T16:24:42Z,2015-01-27T10:47:41Z,True,37.0,False,407525.0,...,English,False,3.0,"['alpha', 'curse', 'luna', 'magic', 'power', '...",5187.0,2688905.0,106844.0,https://a.wattpad.com/useravatar/RevyRogue.128...,Reviana,RevyRogue
2,42937930,❇awsome comebacks❇,yessss!!!!,https://www.wattpad.com/story/42937930-%E2%9D%...,2015-06-22T23:55:09Z,2015-08-16T08:07:12Z,True,16.0,False,2204.0,...,English,False,0.0,"['dumb', 'funny', 'listen', 'nothing', 'okay']",9738.0,1344254.0,37258.0,https://a.wattpad.com/useravatar/kittygirl_121...,NaN,kittygirl_121604
5,7346101,Behind closed doors (teacher/student romance),Alexzandria (Alex) Parker had a difficult fami...,https://www.wattpad.com/story/7346101-behind-c...,2013-08-02T21:29:34Z,2015-08-29T23:44:05Z,False,14.0,False,38084.0,...,English,False,3.0,"['student', 'teacher']",3389.0,738574.0,13675.0,https://a.wattpad.com/useravatar/PissedImNotAM...,NaN,PissedImNotAMermaid
6,23303650,Life Hacks!!,Hopefully this book makes your life a little e...,https://www.wattpad.com/story/23303650-life-hacks,2014-09-14T10:33:07Z,2015-01-27T09:58:01Z,True,89.0,False,17106.0,...,English,False,1.0,"['easy', 'hacks', 'life', 'lige', 'like']",4518.0,905294.0,21020.0,https://a.wattpad.com/useravatar/UglyNugget.12...,NaN,UglyNugget
7,8897341,Changed,Meet Kyleigh Hawthorne. She's The New Girl At ...,https://www.wattpad.com/story/8897341-changed,2013-10-10T17:35:33Z,2015-11-04T05:48:53Z,True,31.0,False,235195.0,...,English,False,3.0,"['brothers', 'drama', 'girl', 'high', 'near-de...",2800.0,664610.0,13576.0,https://a.wattpad.com/useravatar/Sugar-Quills....,NaN,Sugar-Quills

### Saving the clean data to a new csv file

In [25]:
# save the data frame to a csv file to be used for vizualizations later
stripped_df.to_csv(os.path.join('Data', 'stories_for_viz.csv'), index=False)

In [26]:
len(stripped_df)

698